* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  
}

ul li {
  position: relative;
  padding: 12px 8px 12px 40px;
  background: antiquewhite;
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
  list-style: none;
  

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* set all odd list items to a different color (zebra-stripes)*/
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* on hover, add a background color */
ul li:hover {
  background: aliceblue;
}

/* when clicked, add a background color and strike out text */
ul li.checked {
  background: orchid;
  color: #fff;
  text-decoration: line-through;
}

/* add a "checked" mark when clicked */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.main-container {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.main-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  border: none;
  width: 75%;
  padding: 15px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: green;
  color: white;
  border: none;
  float: left;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  opacity: 0.8;
}